	<!-- SERVICES SECTION -->
	<div id="services" ng-controller="his">
		<div class="container">
			<div class="row mt">
				<div id="patient">
					<div class="col-lg-1 centered">
						<i class="fa fa-user fa-5x"></i>
					</div>
					<div class="col-lg-3">
						<h3><a href="/add-patient" class="whitelink">Patient's Information</a></h3>
						<p>Control Patients information with ease. 
							<a href="/add-patient" class="whitelink">Add,</a>
							<a href="/edit-patient" class="whitelink">Update</a> or 
							<a href="/delete-patient" class="whitelink">Delete</a>
					patient's information.</p>
					</div>
				</div>
				<div class="col-lg-1 centered">
					<i class="fa fa-hospital-o"></i>
				</div>
				<div class="col-lg-3">
					<h3><a href="/create-organization" class="whitelink">Organization</a></h3>
					<p>Create Organizations for different types of healthcare providers. <a href="./create-organization" class="whitelink">Create</a>, <a href="./edit-organization" class="whitelink"> Edit, </a><a href="./delete-organization" class="whitelink">Delete </a>Organizations</p>
				</div>
			
			
				<div class="col-lg-1 centered">
					<i class="fa fa-heart"></i>
				</div>
				<div class="col-lg-3">
					<h3>Care Plans</h3>
					<p>Choose careplans that fits you. Searcha and compare plans and add for benefits.</p>
				</div>
			
			</div><!-- row -->
			<div class="row mt">
				<div class="col-lg-1 centered">
					<i class="fa fa-user-md fa-5x"></i>
				</div>
				<div class="col-lg-3">
					<h3>Health Care Profiles</h3>
					<p>Control Patients information with ease. Add, Update or Delete patient's information.</p>
				</div>

				<div class="col-lg-1 centered">
					<i class="fa fa-comments fa-5x"></i>
				</div>
				<div class="col-lg-3">
					<h3>Health Encounters</h3>
					<p>Communicate with your health care professionals. Easy to communicate and get in touch</p>
				</div>
			
			
				<div class="col-lg-1 centered">
					<i class="fa fa-users"></i>
				</div>
				<div class="col-lg-3">
					<h3>Patient's Forum</h3>
					<p>Find choose groups/organization related with Health. Share and get information on Health issues.</p>
				</div>
			
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- services section -->
